In [1]:
import pandas as pd

In [25]:
dates = [str(i) for i in range(20220411, 20220418)]
dates = [pd.to_datetime(i) for i in dates]
df = pd.DataFrame(index=dates)

In [26]:
df['day'] = (df.index.weekday.astype(str) 
             + '-' 
             + df.index.strftime('%a'))

In [27]:
df

              day
2022-04-11  0-Mon
2022-04-12  1-Tue
2022-04-13  2-Wed
2022-04-14  3-Thu
2022-04-15  4-Fri
2022-04-16  5-Sat
2022-04-17  6-Sun